.active-tab-item {
  color: red;
  text-decoration: underline;
}
.list-item {
  list-style-type: none;
}

.button {
  border-width: 0px;
  background-color: transparent;
  font-size: 20px;
}
@media (max-width: 768px) {
  .list-item {
    width: 50%;
  }
}
